%div{:class => "bookmark-wrapper#{b.private ? " private" :""}"}
  .bookmark-title
    %a{:href => "#{b.address}"}= b.title
  .bookmark-desc
    = b.description
  .bookmark-tags
    - b.tag_list.each do |t|
      %a{:href => "/tags/name/#{t}"}= t
  .bookmark-details
    - if b.updated_at != b.created_at
      %span.bookmark-updated
        Updated: #{nice_date_form(b.updated_at)}
      %span.bookmark-created
        Created: #{nice_date_form(b.created_at)}
    - else
      %span.bookmark-created
        Created: #{nice_date_form(b.created_at)}
    %span.bookmark-owner
      by #{link_to b.user.username, user_bookmarks_path(b.user)}
      - if b.user == current_user
        %span.bookmark-ops
          %span.bookmark-edit
            = link_to "Edit", edit_bookmark_path(b)
          %span.bookmark-delete= link_to("Delete", b, :method => 'Delete', data: {:confirm => "Are you sure you want to delete that?"})
          - if b.is_archived?
            %span.bookmark-archive= link_to "View Archive", bookmark_archive_link(b)
