.form-inputs
  = simple_form_for(@bookmark) do |f|
    .field.form-group
      = f.label :address
      = f.text_field :address, :size => 60
    .field.form-group
      = f.label :title
      = f.text_field :title, :size => 60
    .field.form-group
      = f.label :description
      = f.text_field :description, :size => 60
    .field_tags.form-group
      = f.label :tags
      = f.text_field :tag_list, :size => 60
    .field.form-group
      %span= f.label :private
      %span= f.check_box :private
    .field.form-group
      %span= f.label(:is_archived, 'archive url?')
      %span= f.check_box :is_archived
    = f.hidden_field :user_id, value: current_user&.id
    .actions
      = f.submit
