%h1= @bookmark.title
:javascript
  $(function() {
    if (window.name == "Bkmark.me Bookmarks") {
      window.close();
    }
  });
.messages-wrapper
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"
  = yield
.bookmark-description
  %a{:href => "#{@bookmark.address}"}= @bookmark.title
.bookmark-details
  .bookmark-description
    = @bookmark.description
  .bookmark-tags
    tags:  #{@bookmark.tag_list.to_a.join(", ")}
  - if @bookmark.is_archived?
    .bookmark-archive
      %a{:href => "/archive/#{@bookmark.id}.html"} View Archive
