%h1= @bookmark.title
.messages-wrapper
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"
  = yield
.bookmark-description
  %a{:href => "#{@bookmark.address}"}= @bookmark.title
.bookmark-details
  .bookmark-description
    = @bookmark.description
  .bookmark-tags
    tags:  #{@bookmark.tag_list.to_a.join(", ")}
  - if @bookmark.is_archived?
    .bookmark-archive
      %a{:href => "/archive/#{@bookmark.id}.html"} View Archive
- if params[:is_popup]
  .bookmark-closer{'data-controller': "closer"}
    %button{'data-action': 'load@window->closer#closeme'} close me
  
