<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Bookmarks</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">   
        <% if session[:user_id] %>          
          <li><%= link_to "My Bookmarks", "/bookmarks/user/#{session[:user_id]}" %></li> 
        <% end %>
        <li><%= link_to "Users", users_path  %></li>
        <li><%= link_to "Tags", tags_path  %></li>
        <% if session[:user_id] %>          
          <li><%= link_to "Add a Bookmark", "/bookmarks/new" %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= image_tag(avatar_url_from_id(session[:user_id],40), :size => '40x40') %> <li>
          <li><a href="/users/<%= session[:user_id]%>"><%= session[:username] %></a> </li>
          <li><%= link_to "Logout", "/user/sign_out", method: "delete" %></li>
        <% else %>
          <li><a href="/users/sign_in">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div> 
