= form_for(@bookmark) do |f|
  .field.input-text.form-group
    = f.label :address
    = f.text_field :address, :value => params[:address], :size => 65
  .field.input-text.form-group
    = f.label :title
    = f.text_field :title, :value => params[:title], :size => 65
  .field.input-text.form-group
    = f.label :description
    = f.text_field :description, :value => params[:description], :size => 65
  .field_tags.input-text.form-group
    = f.label :tag_list
    = f.text_field :tag_list, :size => 65, value: @bookmark.tag_list.join(", ")
  .field.form-group
    %span= f.label :private
    %span= f.check_box :private
  .field.form-group
    %span= f.label(:is_archived, 'archive url?')
    %span= f.check_box :is_archived
  = f.hidden_field :is_popup, :value => 1
  = f.hidden_field :user_id, value: "#{current_user.id}"
  .actions.form-group
    = f.submit
